.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  overflow: hidden;
}

.section {
  /* flex: 1; */
  height: 100%;
  padding: 10px;
  overflow: hidden;
}

/* .left {
  background-color: red;
} */
/*
.center {
}
.right {
} */
