.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
/* Main Header */
.main-header {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  flex-shrink: 0; /* to not take extra height  */
}

/* Sport Menu */
.sport-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  column-gap: 5px;
  flex: 1;
}
.selected {
  background-color: red;
}

.bodyxxx {
  display: flex;
  flex-direction: column;
  background-color: red;
}
.date-model-btn {
  flex-shrink: 0;
}
